@media (min-width: 600px){


    header {
        display: grid;
        padding-top: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: rgba(118, 184, 193, 0.725);
    }

    header h1 {
        grid-column: 3/4;
        grid-row: 2/2;
        position: relative;
    
    }

    header img {
        grid-column: 2/4;
        grid-row: 2/2;
        height: 200px;
        padding:10px;
        width: auto;
    }

    .herolabel {
        position: absolute;
        float: right;
        margin-top: 50px;
        margin-left: 75px;
        font-family: 'Oswald';
        background: white;
        padding: 1.5rem;
        box-shadow: 0 0 1rem gray;
        opacity: 0.75;
    }

    .container {
        display: flex;
        flex-direction: row;
        grid-gap: 1.5rem;
        max-width: 800px;
  
    }

    body {
        display: grid;
        grid-gap:10px;
        padding: 20px;
        max-width: 900px;
  
       font-family: 'Oswald'; 
       font-weight: 400;
    }

    
}