@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Roboto Condensed", Arial, 'Trebuchet MS';
  text-align: center;
  min-width: 380px;
  background-color: black;
  color: white;
  padding-bottom: 20px;
}

main .options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main button,
main a {
  margin: 10px 0;
  background-color: #0c0c0c;
  border: none;
  border-radius: 5px;
  color: white;
  width: 300px;
  height: 50px;
}

main a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

main button:hover,
main button.selected:hover,
main a:hover {
  background-color: white;
  color: black;
}

main button.selected {
  background-color: darkgrey;
  color: black;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

main section {
  background-color: #0c0c0c;
  border-radius: 6px;
  /* border: 1px solid #242424; */
  padding: 20px;
  min-width: 310px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

main section h2,
p {
  margin: 0;
}

main section h2 {
  color: #ff931e;
}

main section p {
  margin-bottom: 15px;
  font-size: 0.9rem;
}

main .cards img {
  border-radius: 6px;
  margin-top: 20px;
}

main .info-card {
  width: 300px;
}

main .line-div {
  display: flex;
  gap: 5px;
}

main .line-div span:first-child {
  color: red;
  width: calc(50% - 5px);
  text-align: right;
}